

.sidebarItem{
  display: flex;
  flex-direction: row;
  /* background-color: white; */
  padding: 0.65em;
  width: 100% !important;
  margin: 0.25em;
  color: black;
  padding-top: 10px;
}

.sidebarItem:hover{
  background-color: rgb(241, 231, 241);
  border-radius: 10px  0px  0px 10px;
  color: rgb(177, 67, 177);
}

/* .active{
  background-color: rgb(241, 231, 241) !important;
  border-radius: 10px  0px  0px 10px;
 } */

/* .active span{
  color: rgb(177, 67, 177);
} */

.ant-btn-primary {
  background-color: #8D0B00;
  border-color: #8D0B00;
}


.ant-btn-primary:hover {
  background-color: #8D0B00;
  border-color: #8D0B00;
}

.form_style{
  width: 80% !important;
  margin-bottom: 30px !important;
}
.select_style{
  margin-right: 15px !important;
}

/* .sidebar_items_style{
  height: 90% !important;
} */


/* .active:hover{
  background-color: white;
} */

.profile_image{
  width: 53px;
  height: 40px;
  border-radius: 50%;
}

.modal_style{
  height: 200px !important;
  width: 400px !important;
  padding: 20px !important;
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
